{% macro menu_links(links) %}
    {% import _self as macros %}
    {% for link in links %}
        <li class="nav-item">
            <a class="nav-link btn btn-outline-dark"  href="{{ path('app_category_view', { category: link.item.id}) }}">{{ link.item.name }}</a>
            {% if link.children %}
                <ul class="nav flex-column">
                    {{ macros.menu_links(link.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vector test Webshop{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
		  <h2>Vector test Webshop By Gabor Csatlos</h2>
		</header>
        <section>
        	<nav id="side-navigation">
	        	<ul class="nav flex-column">
	        	  {{ macros.menu_links(categories) }}
			    </ul>
			    <div class="cart">
			    	<h5>{{ 'Cart'|trans() }}</h5>
			    	<table class="table">
			    		<thead>
						    <tr>
						        <th scope="col">{{ 'Item'|trans() }}</th>
						        <th scope="col">{{ 'Item price'|trans() }}</th>
						        <th scope="col">{{ 'count'|trans() }}</th>
						        <th scope="col">{{ 'Price'|trans() }}</th>
						        <th></th>
						    </tr>
						  </thead>
						  <tbody id="cart">
						  
						  </tbody>
			    	</table>
			    	{{ 'Sum price'|trans() }}: <span id="sumPrice"></span><br />
			    	<a href="{{ path('app_order_init') }}" id="toOrder" class="btn btn-success disabled" >{{ 'Order'|trans() }}</a>
			    	<a href="#" onclick="clearCart();return false;" class="btn btn-dark">{{ 'Clear cart'|trans() }}</a>
			    </div>
        	</nav>
        	
        	{% block main %}
        	
        	{% endblock %}
        	
        </section>
        
        <script type="application/javascript">
          $(function() {
          	  updateCart('/api/cart/');
          });
          function addCart(productId) {
              updateCart('/api/cart/add/'+productId);
          }
          function removeCart(productId) {
              updateCart('/api/cart/remove/'+productId);
          }
          
          function clearCart() {
              updateCart('/api/cart/clear');
          }
          
          function updateCart(url){
              $.ajax({
	            url: url
	        }).done(function( data ) {
	            $("#cart").html('');
	            $("#sumPrice").html('0');
	            $("#toOrder").addClass('disabled');
	            
	            if (data) {
	                $.each( data, function( key, value ) {
	                    cartContent(key, value);
	                    $("#toOrder").removeClass('disabled');
                    });
	            }
            });
            
            function cartContent(index, value) {
                $("#cart").append('<tr><th scope="row">'+value.name+'</th><td>'+value.num+'</td><td>'+value.price+'</td><td>'+value.sumPrice+'</td><td><a href="#" onclick="addCart('+index+');return false;" class="btn btn-primary">+</a>  <a href="#" onclick="removeCart('+index+');return false;" class="btn btn-primary">-</a></td></tr>');
                $("#sumPrice").html(parseInt($("#sumPrice").text())+value.sumPrice, 10);
            }
          }
    </script>
        {% endblock %}
    </body>
</html>
